@import "../../variables/variables.scss";

.global-final-info {
  border: $border;
  padding: $paddBottom;
  text-align: $center;

  h2 {
    padding-top: $paddTop;
    padding-bottom: $paddBottom;
  }
  p {
    color: grey;
  }
}
.form-button {
  margin: 0 20px;
}
