$font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$display: flex;
$colorWhite: #fff;
$center: center;
$columnDirection: column;
$paddTop: 2px;
$paddBottom: 26px;
$border: 1px solid grey;
